table
{
    font-family:        Calibri;
    text-align:         center;
    width:              100%;
    height:             70%;
    font-size:          22px;
    letter-spacing:     2px;
    word-spacing:       0.4px;
    color:             #272727;
    font-weight:        700;
    text-decoration:    none;
    font-style:         normal;
    font-variant:       small-caps;
}

a, a:visited, a:hover, a:link, a:active
{
    color: #272727;
}

#main
{
    text-align: center;
    padding:    40px 0;
}

img
{
    margin-bottom: 20px;
}

a:hover img
{
    transition:         all 0.5s ease;

    -webkit-filter:     drop-shadow(5px 5px 5px rgba(39,39,39,0.5));
    filter:             drop-shadow(5px 5px 5px rgba(39,39,39,0.5));

    -moz-transform:     scale(1.1) translate(0px, -10px);
    -webkit-transform:  scale(1.1) translate(0px, -10px);
    -o-transform:       scale(1.1) translate(0px, -10px);
    -ms-transform:      scale(1.1) translate(0px, -10px);
    transform:          scale(1.1) translate(0px, -10px);
}
