body{
	font-size: 12px;
	text-align: center;
	color:#000000;
}

.fblue{
	color:#000000;
}

.fwhite{
	background-color: #3369b7;/* color relleno de titulos*/
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.right{
	text-align: right;
	font-size: 14px;
}

.bold{
	font-size: 12px;
	font-weight: bold;
}

.div-label{
	float:left;
	font-size: 14px;
	font-weight: bold;
	/*color: #3369b7;*/
	color: #000;
}

.div-underline{
	float: left;
	/*border-bottom: 1.5px solid #3369b7;*/
	border-bottom: 1.5px solid black;
	/*color: #3369b7;*/
	color: black;
	text-align: left;
}

.rounded{
	float: right;
	/*border: 1px solid #3369b7;*/
	border: 1px solid black;
	/*border-radius:10px;*/
}

.rounded table{
	border-collapse:collapse; 
	text-align: center;
}

.rounded td{
	/*border: 1px solid #3369b7;*/
	border: 1px solid black;
	vertical-align: top;
}


.fullheight{
	/*border: 2px solid #3369b7;*/
	border: 2px solid black;
	height: 175mm;
}

.line{
	border-top: 0px;
	border-bottom: 0px;
	position: absolute; 
	z-index:99;
	top: 85mm;
}

.footer-top{
	position: absolute; 
	z-index:99;
	text-align: justify;
	left:40mm;
	width: 128.6mm;
	height: 28mm;
	top:180mm;
}
.footer-botton{
	position: absolute; 
	z-index:99;
	text-align: justify;
	left:43mm;
	width: 110.6mm;
	height: 75mm;
	top:210mm;
}