body{
	font-size: 12px;
	text-align: center;
	color:#3369b7;
}

.fblue{
	color:#3369b7;
}

.fwhite{
	background-color: #3369b7;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.right{
	text-align: right;
	font-size: 14px;
}

.bold{
	font-size: 12px;
	font-weight: bold;
}

.div-label{
	float:left;
	font-size: 14px;
	font-weight: bold;
	color: #3369b7;
}

.div-underline{
	float: left;
	border-bottom: 1.5px solid #3369b7;
	color: #3369b7;
	text-align: left;
}

.rounded{
	float: right;
	border: 1px solid #3369b7;
	//border-radius:10px;
}

.rounded table{
	border-collapse:collapse; 
	text-align: center;
}

.rounded td{
	border: 1px solid #3369b7;
	vertical-align: top;
}


.fullheight{
	border: 2px solid #3369b7;
	height: 175mm;
}

.line{
	border-top: 0px;
	border-bottom: 0px;
	position: absolute; 
	z-index:99;
	top: 82.2mm;
}