body{
	font-size: 12px;
	text-align: center;
	color:#3369b7;
	font-family: Arial;
}
.borde
{
	border-radius:2mm;
	border       :1.5px solid;
	border-color :#3369b7;
    padding      :0mm;
}
.firmas
{
	float:left;
	font-size: 11px;
	font-weight: bold;
	color: #3369b7;
	height: 25px;
	width:  38mm;
	text-align: center;
	margin-left: 5mm;
}
.lineaFirmas
{
	width: 38mm; 
	margin-left: 5mm;
	float: left;
	border-bottom: 1px solid #3369b7;
	color: #3369b7;
}
.fblue{
	color:#3369b7;
}

.fwhite{
	background-color: #3369b7;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.right{
	text-align: right;
	font-size: 14px;
}
.center
{
	text-align: center;
	font-size: 14px;
}

.bold{
	font-size: 12px;
	font-weight: bold;
}

.div-label{
	float:left;
	font-size: 10px;
	font-weight: bold;
	color: #3369b7;
	height: 25px;
}

.div-underline{
	float: left;
	border-bottom: 1px solid #3369b7;
	color: #3369b7;
	text-align: left;
}

.rounded{
	float : right;
	border: none;
	width : 35mm;
	height: 80px;
}
.rounded2{
	float: right;
	border: 5px solid #3369b7;
}
.rounded td{
	border: 1px solid #3369b7;
	vertical-align: top;
	padding: 0;
}


.fullheight{
	
	height: 75mm;
}

.line{
	border-top: 0px;
	border-bottom: 0px;
	position: absolute; 
	z-index:99;
	top: 85mm;
}

.footer-top{
	position: absolute; 
	z-index:99;
	text-align: justify;
	left:40mm;
	width: 128.6mm;
	height: 28mm;
	top:180mm;
}
.footer-botton{
	position: absolute; 
	z-index:99;
	text-align: justify;
	left:43mm;
	width: 110.6mm;
	height: 75mm;
	top:210mm;
}

.f16
{
	font-size: 16px !important;
}

.f14
{
	font-size: 14px !important;
}

.f12
{
	font-size: 12px !important;
}

.bold
{
	font-weight: bold;
}

.td1
{
	height: 6mm;
}

.cell
{
	text-align: center;
	font-size: 14px;
	border: 1px solid #3369b7;
}