body
{
	font-size: 12px;
	text-align: center;
	color:#3369b7;
	font-family: DejaVuSans;
}

.bordered
{
	border: 1px solid #3369b7;
}

.tamañoOficio
{
    width: 200mm;
    height: 340mm;
}

.oficio
{
    width: 200mm;
}

.icon
{
	width: 4mm; 
	height: 4mm
}

#polo
{
	width: 40mm; 
	height: 40mm;
}

.fondoAzul
{
	background: #b7dafd;
}

#barraAzul
{
	background: #659dd4;
	width: 200mm;
	height: 8mm;
}

hr.azul
{
	color: #659dd4;
	width: 130mm;
}

.px-16
{
	font-size: 16px;
}

.px-14
{
	font-size: 14px;
}

.px-10
{
	font-size: 10px;
}

#cuadroFolio
{
	width: 30mm; 
	height: 10mm;
	background: white;
	position: absolute; 
	top: 55mm; 
	left: 173mm;
}

.condensed
{
	letter-spacing: -0.005mm;
}

.blanco
{
	color:white;
}