.tanque {
    width: 10em;
    height: 5em;
    display: block;
    background: tomato;
    float: left;
    margin: 0.5em;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
}

.medidor {
    width: 2.5em;
    height: 5em;
    background-color: white;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border: 3px solid gray;
    border-bottom: 0;
    }

.cincuenta
{
    background-image:
        linear-gradient(90deg, transparent 50%, white 50%),
        linear-gradient(0deg, white 50%, transparent 50%);
}

.venticinco
{
    background-image:
        linear-gradient(45deg, transparent 50%, white 50%),
        linear-gradient(0deg, white 50%, transparent 50%);
}

.setentaycinco
{
    background-image:
        linear-gradient(135deg, transparent 50%, white 50%),
        linear-gradient(0deg, white 50%, transparent 50%);
}

.cien
{
    background-image:
        linear-gradient(180deg, transparent 50%, white 50%),
        linear-gradient(0deg, white 50%, transparent 50%);
}

body
{
    font-size: 11px;
    text-align: center;
    color:#3369b7;
    font-family: DejaVuSans;
}
.borde
{
    border       :1px solid;
    border-color :#3369b7;
    padding      :0mm;
}

.bordered
{
    border: 1px solid #3369b7;
    align-content: right;
}
.icon
{
    width: 4mm; 
    height: 4mm
}

#polo
{
    width: 35mm; 
    height: 35mm;
}

.fondoAzul
{
    background: #b7dafd;
    width : 180mm; 
    height: 42mm;
}

#barraAzul
{
    background: #659dd4;
    width: 210mm;
    height: 8mm;
}

hr.azul
{
    color: #659dd4;
    width: 130mm;
}
.px-18
{
    font-size: 18px;
}
.px-18
{
    font-size: 18px;
}
.px-14
{
    font-size: 14px;
}
.px-16
{
    font-size: 16px;
}

.px-10
{
    font-size: 10px;
}
.bold{
    font-weight: bold;
}

#cuadroFolio
{
    width: 25mm; 
    height: 8mm;
    background: white;
    position: absolute; 
    top: 52mm; 
    left: 163mm;
}

.condensed
{
    letter-spacing: -0.005mm;
}

.blanco
{
    color:white;
}
.div-label{
    float:left;
    font-size: 10px;
    font-weight: bold;
    color: #3369b7;
    padding: 7px 0px 0px 5px;
    /*border: 1px solid;*/
}
.div-label2{
    float:left;
    font-size: 12px;
    font-weight: bold;
    color: #3369b7;
    padding: 7px 0px 0px 5px;
    /*border: 1px solid;*/
}

.div-underline{
    float: left;
    border-bottom: 1px solid #3369b7;
    color: #3369b7;
    text-align: left;
    font-size: 8px;
    padding: 3px 0px;  
}

.panel
{
    width: 100%;
    height: 20px;
    text-align: left;
    border-bottom: 1px solid #3369b7;
    padding-bottom: 8px;
}

table.tabla
{
     border-collapse: collapse;
     text-align: right;
}

.tabla th
{
    padding:5px 15px; 
}
