.bordered{
	border: 1px solid;
	border-radius: 5px;
}
.f-sm{
	font-size: 8px;
}
.f-md{
	font-size: 10px;
}
.f-bg{
	font-size: 14px;
}
.f-right{
	text-align: right;
}
.f-center{
	text-align: center;
}
.f-justify{
	text-align: justify;
}
div.left{
	float: left;
}

div.right{
	float: right;
}

div.info{
	width: 10mm;
}

.info table{
	border-collapse: collapse;
}

.info th{
	border: 1px solid; 
	border-width: 1px 0 1px 0;
	background-color: #d1d1d1;
	font-size: 10px;

}

.info td{
	border: 1px solid;
	border-width: 1px 0 0px 0;
	font-size: 14px;
}

.header-div{
	text-align: center;
	margin-top:-7px;
	z-index: 100;
}

.header-div span{
	font-weight: bold;
	border: solid white;
	border-width:0px 5px 0px 5px;
	background-color: white;
	background-image-opacity: 0;
}